* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: "Libre Franklin", sans-serif; */
}
body {
  background-color: rgb(235, 235, 235);
}
.icons {
  width: 24px;
  height: 24px;
  margin-right: 5px;
}
#Application {
  display: flex;
  flex-direction: row;
}
#Left {
  display: flex;
  flex-direction: column;
  width: 30%; /* Maybe more */
  font-family: "Libre Franklin", sans-serif;
}
.settingsButtonDiv {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 15px;
}
#Right {
  display: flex;
  flex-direction: column;
  width: 70%;
  align-items: center;
  justify-content: center;
}
#SettingPart,
#form {
  margin-top: 15px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
}
#form2 {
  margin-top: 15px;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  border-radius: 10px;
}
input[type="text"] {
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: rgb(235, 235, 235);
}
input:focus-visible {
  outline-width: 0;
}
#form {
  gap: 15px;
}
#personalForm {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0px 15px 15px 10px;
}
.personal-info-label {
  margin: 15px 15px;
  font-size: 19px;
  font-weight: 600;
}
.dateFormMain {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  justify-content: space-between;
  /* gap: 10px; */
}
.dateForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  width: 50%;
}
input[type="text"],
select {
  padding: 8px 15px;
}
#CVprototype {
  width: 95%;
  height: 100%;
  border: none;
  border-radius: 0px;
  background: #ffffff;
  margin-top: 15px;
  margin-bottom: 15px;
}
#head {
  text-align: center;
  /* background-color: #224968; */
  color: black;
  border-radius: 0;
}
#secondLine {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: 10px;
  padding-bottom: 15px;
}
#education,
#jobExperience {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers the content horizontally */
  justify-content: center; /* Centers the content vertically */
  width: 85%;
  margin: 10px auto; /* Centers the entire #education div horizontally */
}

.header-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: rgba(34, 73, 104, 0.059);
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}
.education-entry {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 10px;
}
#column1 {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
#column2 {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
#column p {
  margin: 5px 0;
}
#savedEducationInfo {
  margin-left: 15px;
}
#savedEducationInfo p {
  margin-bottom: 5px;
}

#formAppersButton {
  border: 1px solid rgb(174, 174, 174);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background-color: transparent;
  color: rgb(164, 164, 164);
  font-weight: 200;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 15px;
}
.ContentButton,
.downloadButton {
  text-align: center;
  display: flex;
  flex-direction: row;
  background-color: white;
  font-size: 20px;
  border-radius: 10px;
  border: 1px solid rgb(235, 235, 235);
  padding: 5px 11px;
  cursor: pointer;
  font-family: "Libre Franklin", sans-serif;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.downloadButton {
  width: 140px;
  font-size: 20px;
  margin-left: 20px;
  margin-top: 15px;
  margin-bottom: 0px;
}
.formButton {
  margin-left: 15px;
  margin-bottom: 15px;
  width: 60px;
  height: 30px;
  text-align: center;
  font-size: 18px;
  border: 1px solid rgb(235, 235, 235);
  border-radius: 10px;
  background-color: white;
}
.formButton2 {
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 60px;
  height: 30px;
  text-align: center;
  font-size: 15px;
  border: 1px solid rgb(235, 235, 235);
  border-radius: 10px;
  background-color: white;
}
#headColor #headFontColor {
  margin-top: 10px;
  margin-left: 15px;
  margin-bottom: 15px;
  margin-top: 0;
  width: 40px; /* Adjust the width */
  height: 40px; /* Adjust the height */
  border: 1px solid transparent; /* Remove border */
  border-radius: 0;
  background-color: transparent;
  cursor: pointer; /* Change cursor to pointer */
}
.fontButtons {
  margin-left: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.fontButtons button {
  border: 1px solid rgb(174, 174, 174);
  border-radius: 15%;
  background-color: transparent;
  font-size: 18px;
  padding: 5px 7px;
}
@media only screen and (min-width: 2500px) {
  #Application {
    justify-content: center;
  }
  #Left {
    width: 20%; /* Maybe more */
  }
  #Right {
    width: 55%;
  }
}

@media only screen and (min-width: 1440px) {
  #Application {
    justify-content: center;
  }
  #Left {
    width: 25%; /* Maybe more */
  }
  #Right {
    width: 60%;
  }
}

@media only screen and (max-width: 1115px) {
  .settingsButtonDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 160px;
  }
  #ContentButton {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 640px) and (max-width: 760px) {
  #SettingPartContext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  .toggleDIV {
    display: flex;
    flex-direction: column;
  }
  #form2,
  .fontButtons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  input[type="color"] {
    margin-left: 15px;
    margin-bottom: 15px;
    margin-top: 0;
  }
}

@media only screen and (max-width: 640px) {
  #Application {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #Left {
    width: 55%; /* Maybe more */
  }
  #form2,
  .fontButtons {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers items vertically */
    justify-content: center; /* Centers items horizontally */
  }
  input[type="color"] {
    margin-left: 0;
    margin-bottom: 15px;
    margin-top: 0;
  }
  #Right {
    width: 90%;
  }
}

@media only screen and (max-width: 376px) {
  #Left {
    width: 70%; /* Maybe more */
  }
  #Right {
    width: 90%;
  }
  #secondLine {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
