* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Libre Franklin", sans-serif;
}
body {
  background-color: rgb(235, 235, 235);
}
#Application {
  display: flex;
  flex-direction: row;
}
#Left {
  display: flex;
  flex-direction: column;
  width: 30%; /* Maybe more */
}
#Right {
  display: flex;
  flex-direction: column;
  width: 70%;
}
#SettingPart,
#form {
  margin-top: 15px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
}
#form {
  gap: 15px;
}
#personalForm {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 10px 15px;
}
input[type="text"],
select {
  padding: 8px 15px;
}
